@media (min-width: 769px) {
body {
	text-align: center;
	border-spacing: 40px;
}
p {
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 400;
	text-align: center;
	border-collapse: separate;
	text-indent: 50px;
	padding-right: 50px;
}

h1 {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right: 5%;
	text-transform: uppercase;
	font-weight:600;
	background-color: #36a0c4;
}

h1 span{
	background-color: #36a0c4;
	padding-left: 5%;
	padding-right: 5%;
}

h2 {
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

h2 span{
	background-color: #36a0c4;
	padding-left: 5%;
	padding-right: 5%;
}

.img {
	text-align: center;
}
.date {
	font-weight: 200;
}
}

@media (max-width: 768px)
	{

body {
	text-align: center;
	border-spacing: 40px;
}
p {
	
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 100;
	text-align: center;
	border-collapse: separate;
	text-indent: 50px;
	padding-right: 50px;
}

h1 {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right: 5%;
	text-transform: uppercase;
	font-weight:300;
	background-color: #36a0c4;
}

h1 span{
	background-color: #36a0c4;
	padding-left: 3%;
	padding-right: 3%;
}

h2 {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-weight:200;
}

h2 span{
	background-color: #36a0c4;
	padding-left: 3%;
	padding-right: 3%;
}

.img {
	text-align: center;
}
.date {
	font-weight: 200;
}
}

@media (max-width: 480px)
	{
body {
	text-align: center;
	border-spacing: 40px;
}
p {
	
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 100;
	text-align: center;
	border-collapse: separate;
	text-indent: 50px;
	padding-right: 50px;
}

h1 {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right: 5%;
	text-transform: uppercase;
	font-weight:200;
	background-color: #36a0c4;
}

h1 span{
	background-color: #36a0c4;
	padding-left: 3%;
	padding-right: 3%;
}

h2 {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-weight:100;
}

h2 span{
	background-color: #36a0c4;
	padding-left: 3%;
	padding-right: 3%;
}

.img {
	text-align: center;
}
.date {
	font-weight: 100;
}
}





